/* Basic reset and styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
  background-image: url(/bg.jpg);
}

/* Container styling */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  border: 05px solid grey;
}

/* Hidden class for hiding sections */
.hidden {
  display: none;
}

/* Form styling */
form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

/* Label styling */
label {
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

/* Input and select styling */
input,
select {
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

/* Button styling */
button {
  padding: 10px;
  background-color: #58aa5a;
  color: white;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background-color: rgb(2, 21, 2);
}

/* Title styling */
h2,
h3 {
  color: #333;
  margin-bottom: 20px;
  text-align: center;
}

/* Responsive styles */
@media (max-width: 600px) {
  .container {
    padding: 10px;
  }

  input,
  select {
    padding: 8px;
  }

  button {
    padding: 8px;
  }

  label {
    margin-bottom: 3px;
  }
}
